@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --background-color: rgb(24, 24, 24);
    --text-color: rgb(248, 248, 248);
    --link-hover-color: rgb(236, 205, 63);
    --tag-color: rgb(235, 74, 122);
    --tag-hover-color: rgb(236, 106, 145);
}

html {
    scroll-behavior: smooth;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

body {
    box-sizing: border-box;
    padding: 0 2rem;
    margin: 0;

    overflow: auto;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;

    background-color: var(--background-color);
    color: var(--text-color);
}

p { font-weight: 200; }
h3 { font-weight: 700; }
h2 { font-weight: 800; }
h1 { font-weight: 900; }