:root {
    --default-text-color: rgb(222, 222, 222);
    --page-background-color: rgb(24, 22, 22);
}

html { scroll-behavior: smooth; }
html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: var(--default-text-color);
    background-color: var(--page-background-color);
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        "Helvetica Neue", sans-serif;
    overflow-y: scroll;
}

label { display: block; }