@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .navigation-link {
        @apply relative transition-colors text-cat-text/50 hover:text-cat-subtext1;
        user-select: none;
    }

    .navigation-link::after {
        @apply absolute block transition-all bg-cat-text/50 w-full;
        transform: scale(0);
        content: "";
        height: 1px;
    }

    .navigation-link:hover {
        @apply text-cat-text;
    }

    .navigation-link:hover::after {
        @apply bg-cat-text;
        transform: scale(1);
    }
}

html {
    font-family: "JetBrains Mono", monospace;
    scroll-behavior: smooth;
    position: relative;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}
